@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');

body {
  background: linear-gradient(rgb(16, 32, 49) 30%, rgb(33, 68, 96) 62%, rgb(16, 32, 49) 95%);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.links {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 40px;
}

.header-text {
  text-decoration: none;
  padding: 5px 11px;
  background-color: #ffffff;
  color: #2a6973;
  border-radius: 50%;
  font-size: 20px;
}

.central-element {
  margin-left: 15px;
  margin-right: 15px;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1096px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px)
.container {
    max-width: 1534px;
}
@media (min-width: 992px)
.container {
    max-width: 1280px;
}
@media (min-width: 768px)
.container {
    max-width: 960px;
}
@media (min-width: 576px)
.container {
    max-width: 720px;
}

.header {
  background-image: url("header.png");
  height: 575px;
  position: relative;
  box-shadow: inset 0px 0px 300px 0px #000000;
}

.header_main {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.header_text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #eeeeee;
}

.header_date {
  color: #92a1a6;
  font-size: 14px;
}

.description {
  background-color: #0B344D;
  margin-top: 0;
  padding: 22px 64px;
}

.description_header {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #eeeeee;
}

.description_text {
  color: #ccc;
  font-size: 16px;
}

.description_text_header {
  font-size: 20px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.ships-scroll {
  display: flex;
  transition: 0.3s;
  overflow-x: hidden;
  margin-bottom: 20px;
}

#scrollbar::-webkit-scrollbar {
  height: 10px;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: #009999;
}

#scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #00CCCC;
}

#scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  background-color: #24495F;
}

.ships-scroll:hover {
  overflow-x: scroll;
}

.ships-scroll-image {
  height: 180px;
  width: 320px;
}

.swiper {
  margin-top: 20px;
  cursor: pointer;
}
